@include font-face('Helvetica', "../fonts/HelveticaRegular", $regular, normal);
@include font-face('Helvetica', "../fonts/HelveticaNeueCyr-Roman", $regular, normal);
@include font-face('IBMP', "../fonts/IBMPlexSerif-SemiBold", $bold, normal);


* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 15px;
}