- var title = 'title'

//- layout.pug
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='yandex-verification' content='b018e4cc29448ff0')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='keywords' content='группа Жара, кавер-группа Жара, кавер группа Жара, группа на свадьбу, группа на корпоратив, группа на праздник, топ кавер-группа, лучшая кавер-группа, голос 7, кавер группа, кавер-группа Ростов, кавер группа Ростов')
    //- link(rel='apple-touch-icon' sizes='180x180' href='../../images/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='../../images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='../../images/favicon/favicon-16x16.png')
    //- link(rel='manifest' href='../../images/favicon/site.webmanifest')
    //- link(rel='mask-icon' href='../../images/favicon/safari-pinned-tab.svg' color='#5bbad5')

    meta(name='msapplication-TileColor' content='#b91d47')
    meta(name='theme-color' content='#ffffff')
    title Кавер-группа "Жара" - официальный сайт
    meta(name="description" content="Официальный сайт музыкальной кавер-группы 'Жара' Ростов-на-Дону.")
    block scripts
      script(src='../../js/index.js')
      script(src='//code-ya.jivosite.com/widget/2rBQd8e144' async='')
    block styles
      link(rel="stylesheet" href="../../styles/styles.scss")


  body
    block content
    //- block foot